html, body {
  height: 100%;
  margin: 0;
}

#chat-area {
  padding-top: 15px;
  background-color: lightgray;
  height: 100%;
  overflow: scroll;
}

.App, #root {
  height: 90%;
  background-color: red;
}

footer {
  padding-top: 9px
}
